@{
    ViewBag.Title = "Jovem Tecnologia " + DateTime.Now.Year;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Header")

<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading"><img src="@Href("~/content/img/logo.png")" alt="Jovem e Tecnologia" style="width:40vw" /></div>
            <div style="margin-top: -8vh" class="intro-lead-in">O melhor projeto de tecnologia do RS</div>
            <a href="#" class="page-scroll btn btn-xl">INSCRIÇÕES EM BREVE</a>
        </div>
    </div>
</header>
<section id="jovemTecnologia">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Jovem & Tecnologia <span class="title">2018</span></h2>
            </div>
            <div class="visible-lg visible-md visible-sm hidden-xs">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="col-lg-6 text-justify">
                <h2 class="section-subheading text-muted text-center">O que é ?</h2>
                <p>O Jovem & Tecnologia ...  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor massa leo, sed suscipit erat feugiat ac. Proin nec auctor ipsum, ut bibendum turpis. Quisque vulputate velit euismod lacus lobortis tempor. Phasellus lobortis, quam id tempor aliquam, lacus ante volutpat lacus, eget laoreet velit turpis sed massa. Nunc dignissim ullamcorper elit vitae viverra. Vestibulum hendrerit justo at turpis euismod, id molestie est placerat. Nam id felis metus. Mauris eu ipsum laoreet, facilisis leo nec, porttitor urna. Cras laoreet tempor urna, eu suscipit justo mollis eu. Suspendisse pharetra dolor eget tempus tristique. In vel magna pharetra, auctor turpis eu, consectetur arcu.</p>
            </div>
            <div class="col-lg-6 text-justify">
                <h2 class="section-subheading text-muted text-center">Onde ?</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13862.913195956873!2d-53.51812!3d-29.698656!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7c7f47a67748fc31!2sAntonio+Meneghetti+Faculdade+-+AMF!5e0!3m2!1spt-PT!2sbr!4v1501677252065" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="mvv-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="service-heading">Uma História</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="@Href("~/content/img/service/rocket.png")" alt="Missão" style="border-radius: 50px; width:70%; max-width:225px" />
                <h4 class="service-heading">Missão</h4>
                <p class="text-muted">
                    Ser um projeto onde os alunos possam expandir o seu conhecimento na área
                    de tecnologia de informação e empreendedorismo, despertando no mesmo o interesse
                    em estudar e trabalhar na área de tecnologia da informação.
                </p>
            </div>
            <div class="col-md-4">
                <img src="@Href("~/content/img/service/eye.png")" alt="Visão" style="border-radius: 50px;width:70%; max-width:225px" />
                <h4 class="service-heading">Visão</h4>
                <p class="text-muted">
                    Formar o Jovem para uma atuação protagonista no mercado nacional e
                    internacional de TI.
                </p>
            </div>
            <div class="col-md-4">
                <img src="@Href("~/content/img/service/tree.png")" alt="Valores" style="border-radius: 50px;width:70%; max-width:225px" />
                <h4 class="service-heading">Valores</h4>
                <ul class="text-left text-muted">
                    <li>Comprometimento e responsabilidade</li>
                    <li>Crescimento pessoal visando à autonomia</li>
                    <li>Aprendemos e crescemos juntos</li>
                    <li>Buscamos aprender e nos desenvolver a cada oportunidade</li>
                    <li>Compromisso de desenvolvimento junto á comunidade</li>
                </ul>
            </div>
        </div>
    </div>
</section>

@Html.Action("Index", "TimeLine");

<section id="gallery">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Galeria</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        @Html.Action("Index", "Gallery")
    </div>
</section>

<section id="equipe" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Equipe Organizadora</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2 col-xs-6 col-xs-offset-3">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/claudio_carrara.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Claudio Carrara</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/claudio.carrara.79" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/ricardo_schaefer.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Ricardo Schaefer</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/RicardoSchaeferr" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/ricardo-schaefer-14741821/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/jose_luiz.jpg")" class="img-responsive img-circle" alt="">
                    <h4>José Luiz Rodrigues Filho</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/joseluiz.rodriguesfilho" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/joseluizrodriguesf/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/juliana_rigon.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Juliana Rigon</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/JulianaRigonJeT" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/juliana-martins-rigon-6b109bab/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/gustavo_florencio.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Gustavo Florêncio</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/ghflorencio" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/ghflorencio/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Professores de TI</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_ti/ricardo_schieck.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Ricardo Schieck</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/ricardo.schieck" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/ricardo-schieck-9b9017143/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_ti/bernardo_zamberlan.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Bernardo Zamberlan</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/bernardocervoz" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/bernardo-cervo-zamberlan-8b062133/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_ti/rhuan_drescher.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Rhuan Drescher</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/rhuan.drescher" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/rhuan-matheus-drescher-7a28aa14a/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_ti/hercules_karkow.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Hercules Karkow</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/hercules.karkow" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/hercules-karkow-212767127/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_ti/estevao_lara.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Estevão Lara</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/estevao.lara.3" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/hercules-karkow-212767127/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_ti/marcelo_burkard.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Marcelo Burkard</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/marcelo.burkard" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/marceloburkard/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-xs-6 col-xs-offset-3 col-md-offset-1">
                    <div class="team-member">
                        <img src="@Href("~/content/img/organization/monitors_ti/thiago_ledel.jpg")" class="img-responsive img-circle" alt="">
                        <h4>Thiago Ledel</h4>
                        <p></p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://www.facebook.com/thiagocorrealedel" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/thiago-corr%C3%AAa-ledel-28a172142/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Monitores de Atitude Empreendedora</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/alana_azevedo.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Alana Azevedo</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/alana.azevedo.da.silva?ref=br_rs" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/alana-azevedo/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/alini_righi.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Alini Righi</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/alinee.righi" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/amanda_barcellos.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Amanda Barcellos</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/amandapbarcellos" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/eduardo_zanon.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Eduardo Zanon</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/eduardo.zanon.739" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/eduardo-zanon-221964142/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/gabriel_sebastiano.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Gabriel Sebastiano</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/gs.demaria" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/gabriel-sebastiano-162895bb/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/gabrieli_silva.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Gabrieli Silva</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/gabrieli.silva.71" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/giovani_saydelles.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Giovani Saydelles</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/giovani.saydelles" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/giovani-saydelles-506188145/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/hygor_bitencourt.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Hygor Bitencourt</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/hygor.bitencourtpereira.3" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/jean_wilhelm.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Jean Wilhelm</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/jean.wilhelm.35" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/jean-wilhelm-5b0845150/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/jose_goncalves.jpg")" class="img-responsive img-circle" alt="">
                    <h4>José Gonçalves</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/jcarlos.goncalves.92" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/karine_monego.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Karine Mônego</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/karineposser.monego" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/karine-m%C3%B4nego-b8628b139/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/kethellyn_crespin.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Kethellyn Crespin</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/kethellync?ref=br_rs" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/lais_cervo.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Laís Cervo</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/lais.cervo" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/lucas_rodrigues.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Lucas Rodrigues</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/lucas.o.rodrigues.3" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/rafaela_machado.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Rafaela Maicá</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/rafaela.machado.3388" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/suelen_costa.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Suelen Costa</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/suuucosta" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/suelen-c-62783913a/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/thalison_dorpmuller.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Thalison Dorpmuller</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/thalison.abel" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="team-member">
                    <img src="@Href("~/content/img/organization/monitors_foil/vanessa_winchester.jpg")" class="img-responsive img-circle" alt="">
                    <h4>Vanessa Winchester</h4>
                    <p></p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100010225565569" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contato</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div id="divSucesso" class="hidden">
                        <div class="col-sm-12 alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button><p>E-mail enviado com sucesso! Em breve entraremos em contato.</p>
                        </div>
                    </div>
                    <div id="divAlteracao" class="hidden">
                        <div class="col-sm-12 alert alert-warning" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button><p id="valorAlterado">E-mail enviado com sucesso! Em breve entraremos em contato.</p>
                        </div>
                    </div>
                    <div id="divErro" class="hidden">
                        <div class="col-sm-12 alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button><p>Infelizmente o e-mail não pode ser enviado. <br />Tente novamente mais tarde ou se o problema persistir contate o administrador.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nome *" id="txtNome" name="txtNome" required data-validation-required-message="Por favor, coloque seu nome.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="E-mail *" id="txtEmail" name="txtEmail" required data-validation-required-message="Por favor, coloque seu e-mail.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Telefone *" id="txtTelefone" name="txtTelefone" required data-validation-required-message="Por favor, coloque seu telefone.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Mensagem" id="txtMensagem" name="txtMensagem" required data-validation-required-message="Por favor, coloque uma mensagem."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center">
                        <div id="success"></div>
                        <button type="button" onclick="EnviarForm()" class="btn btn-xl">Enviar Mensagem</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Footer")

<script>
    function EnviarForm() {

        $("#divAlteracao").addClass("hidden");
        var _nome = $('#txtNome').val();
        var _email = $('#txtEmail').val();
        var _telefone = $('#txtTelefone').val();
        var _mensagem = $('#txtMensagem').val();

        if (_nome == null || _nome == "") {
            //$.growl.warning({ title: "Ops..", message: "Por favor, preencha seu Nome!" });
            $("#valorAlterado").html("Por favor, preencha seu Nome!")
            $("#divAlteracao").removeClass("hidden");

        }
        else if (_email == null || _email == "") {
            // $.growl.warning({ title: "Ops..", message: "Por favor, preencha seu E-mail!" });
            $("#valorAlterado").html("Por favor, preencha seu E-mail!")
            $("#divAlteracao").removeClass("hidden");

        }
        else if (_telefone == null || _telefone == "") {
            //$.growl.warning({ title: "Ops..", message: "Por favor, preencha seu Telefone!" });
            $("#valorAlterado").html("Por favor, preencha seu Telefone!")
            $("#divAlteracao").removeClass("hidden");
        }
        else {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("EnviarForm", "Home")',
                data: {
                    nome: _nome,
                    email: _email,
                    telefone: _telefone,
                    mensagem: _mensagem
                },
                contentType: 'application/json; charset=utf-8',
                cache: false,
                async: false,
                success: function (data) {
                    $("#divSucesso").removeClass("hidden");

                },
                error: function (msg) {
                    $("#divSucesso").removeClass("hidden");
                }
            });


        }
    }
</script>
