
    <!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="visible-xs navbar-brand-xs page-scroll" href="@Href("~/")"><img src="~/Content/img/logo-preta.png" style="width:90%" /> </a>
            <a class="hidden-xs navbar-brand page-scroll" href="@Href("~/")"><img src="~/Content/img/logo-preta.png" style="width:90%" /> </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="@Href("~/")"></a> <!-- #page-top -->
                </li>
                <li>
                    <a class="page-scroll" href="@Href("~/#coderace2017")">Code Race 2017</a>
                </li>
                <li>
                    <a class="page-scroll" href="@Href("~/#portfolio")">Patrocinadores</a>
                </li>
                <li>
                    <a class="page-scroll" href="@Href("~/#sobre")">Sobre</a>
                </li>
                <li>
                    <a class="page-scroll" href="@Href("~/#equipe")">Organização</a>
                </li>
                <li>
                    <a class="page-scroll" href="@Href("~/#premiacao")">Premiação</a>
                </li>
                <li>
                    <a class="page-scroll" href="@Href("~/#inscricoes")">Inscrições</a>
                </li>
                <li>
                    <a class="page-scroll" href="@Href("~/#contact")">Contato</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
